@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
	line-height: 1;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .content-wrapper {
    min-height: calc(100% - 80px - 40px);
  }
  
